@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tilt+Neon&display=swap");
/* general styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
}
body::-webkit-scrollbar{
  display: none;
}
section {
  min-height: 100vh;
  width: 100vw;
  background: rgb(49, 49, 49);
  flex-wrap: wrap;
  position: relative;
}

/* navbar */
.navbar {
  width: 100%;
  position: absolute;
  height: 4rem;
  background: rgb(202, 62, 71);
  z-index: 3;
}
.displayedNav {
  top: 30vh;
  z-index: 2;
}
#offcanvasNavbar {
  background: transparent;
  height: 80vh;
  width: 12rem;
  align-items: center;
}
.offcanvas-body {
  position: absolute;
  top: 30vh;
  height: 80%;
  width: 100%;
}
.navbar-nav {
  width: 100%;
  position: relative;
  gap: 20px;
}
:is(.nav-item, .nav-item2) {
  border-radius: 0 30px 30px 0;
  background: rgb(202, 62, 71);
  height: 2rem;
}
:is(.nav-item, .nav-item2) a {
  font-size: 0.8em;
  color: white;
}
.nav-item {
  width: 80%;
  padding-left: 5px;
}
.nav-item2 {
  width: 2rem;
  padding-left: 5px;
}
.offcanvas-backdrop {
  display: none;
}
:is(.navbar-toggler, .navbar-toggler.scnd, .navbar-toggler2) {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
.navbar-toggler{
  color: rgb(202, 62, 71);
}
.navbar-toggler2{
  background: transparent;
  position: fixed;
  z-index: 3;
  color: rgba(0, 0, 0, 0);
}
.navbar-toggler.scnd {
  position: absolute;
  top: 0.16em;
  left: 0.25em;
  color: transparent;
}
.socialIcons {
  color: rgb(202, 62, 71);
  font-size: 2em;
  margin: 1rem;
}
.iconHover {
  visibility: hidden;
}
.nav-item2:hover {
  width: 11rem;
  .iconHover {
    visibility: visible;
  }
}
.nav-link {
  height: 1em;
}

/* Home Page */
#Home {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.mainText {
  color: white;
}
.mainText span {
  color: rgb(202, 62, 71);
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.profilephoto {
  box-shadow: 5px 5px 5px 2px rgb(20, 20, 20);
  border: 3px solid rgb(49, 49, 49);
  object-fit: cover;
  width: 300px;
}
img[alt="Profileimg"] {
  width: 100%;
  height: 100%;
  background: rgb(49, 49, 49);
}
.background {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
img[alt="Background"] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About Page */
.Aboutmain {
  flex-wrap: wrap;
  height: 30rem;
  width: 40rem;
  position: relative;
}
h2 {
  color: rgb(202, 62, 71);
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.Aboutme p {
  color: rgb(105, 119, 155);
}
.interests {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  color: rgb(105, 119, 155);
}
img[alt="secondaryprofile"] {
  height: 300px;
  box-shadow: 5px 5px 5px rgb(20, 20, 20);
}

/* Work and education */
#WorkEd {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.Skills {
  margin: 0;
  padding: 0;
  height: 300px;
  width: 90%;
  display: flex;
  align-items: end;
  position: relative;
  top: 3rem;
}
.work-Ed {
  align-self: center;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 90%;
  display: flex;
  position: relative;
}
.workSlide {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.skillSlide {
  display: flex;
  gap: 0.5em;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  position: relative;
}
.mainCard {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: rgb(56, 56, 56);
  color: rgb(105, 119, 155);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  z-index: 1;
  padding: 10px;
}
.mainCard2 {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: rgb(202, 62, 71);
  color: rgb(44, 44, 44);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.maincardtext {
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
.workCard {
  width: 180px;
  height: 100%;
  font-size: 0.8em;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: rgb(202, 62, 71);
  color: #fff;
  visibility: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.skillCard {
  width: 180px;
  height: 100%;
  font-size: 0.8em;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: rgb(56, 56, 56);
  color: #fff;
  visibility: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.hover {
  text-decoration: underline;
}
.workCard.card1 {
  transform: translateX(-188px);
}
.workCard.card2 {
  transform: translateX(-376px);
}
.workCard.card3 {
  transform: translateX(-564px);
}
.workCard.card4 {
  transform: translateX(-752px);
}
.skillCard.card1 {
  transform: translateX(188px);
  display: flex;
  flex-direction: column;
  .soft {
    font-size: 2rem;
    text-decoration: underline;
  }
}
.skillCard.card2 {
  transform: translateX(376px);
}
.skillCard.card3 {
  transform: translateX(564px);
}
.skillCard img {
  height: 100%;
}

.workSlide:hover {
  cursor: pointer;
  .workCard {
    transform: translateX(0);
    visibility: visible;
  }
}
.skillSlide:hover {
  cursor: pointer;
  .skillCard {
    transform: translateX(0);
    visibility: visible;
  }
}

/* Projects Page */
#Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.cardcontainer {
  padding: 20px;
  width: 80%;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  cursor: pointer;
  background: transparent;
  height: 150px;
  width: 250px;
  border: none;
}
.content img {
  max-width: 90%;
}
:is(.face1, .face2) {
  width: 100%;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
}

.face1 {
  background: #333;
  z-index: 1;
  transform: translateY(10px);
}
.face2 {
  background: #fff;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-110px);
  visibility: hidden;
}
.card:hover {
  .face1 {
    background: rgb(202, 62, 71);
    transform: translateY(0);
  }
  .content {
    opacity: 1;
  }
  .content h3 {
    color: rgb(49, 49, 49);
  }
  .face2 {
    transform: translateY(0);
    z-index: 2;
    visibility: visible;
  }
}
.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}
.content h3 {
  margin: 10px 0 0;
  color: #fff;
  font-size: 1.5em;
}
.content a {
  margin-inline: 5px;
  text-decoration: none;
  color: rgb(49, 49, 49);
  padding: 5px;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 10px;
}
.content a:hover {
  background: rgb(49, 49, 49);
  color: #fff;
}

/* Testimonials */
#Testimonials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0;
}
.testcontainer {
  height: 92vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-inline: 10px;
  justify-self: flex-end;
  overflow: auto;
}
.testcontainer::-webkit-scrollbar{
  width: 5px;
}
.testcontainer::-webkit-scrollbar-track{
  width: 5px;
  background: rgb(202, 62, 71);
  border-radius: 10px;
}
.testcontainer::-webkit-scrollbar-thumb{
  background: rgb(49, 49, 49);
  border: 1px solid rgb(202, 62, 71);
  border-radius: 10px;
}
.testcard {
  height: 250px;
  width: 400px;
  display: flex;
  margin-right: 20px;
  margin-bottom: 10px;
}
.testimg {
  object-fit: cover;
  border: 3px solid rgb(202, 62, 71);
  height: 250px;
  width: 250px;
  z-index: 1;
  box-shadow: 5px 5px 3px rgb(20, 20, 20);
  position: relative;
}
.testimg img {
  height: 100%;
  width: 100%;
}
.testContent {
  margin: 0;
  padding: 10px;
  position: relative;
  background: rgb(49, 49, 49);
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  width: 190px;
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
  transition: 0.5s;
  box-shadow: inset -3px -3px 3px rgb(20, 20, 20);
  transform: translateX(-200px);
}
.testcard:hover {
  .testContent {
    transform: translateX(0px);
  }
  .clickMe{
    visibility: hidden;
  }
  .hoverMe{
    visibility: hidden;
  }
}
.MatthewTest{
  font-size: .7em;
  overflow: auto;
}
.MatthewTest::-webkit-scrollbar{
  width: 5px;
}
.MatthewTest::-webkit-scrollbar-track{
  background: rgb(202, 62, 71);
  border-radius: 10px;
}
.MatthewTest::-webkit-scrollbar-thumb{
  background: rgb(49, 49, 49);
  border: 1px solid rgb(202, 62, 71);
  border-radius: 10px;
}
:is(.clickMe, .hoverMe){
  position: absolute;
  width: 40px;
  font-size: .8em;
  background: rgb(202, 62, 71);
  border: none;
  right: 0;
  border-radius: 0 0 0 10px;
}

/* Contact Page */
#ContactMe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactInfo {
  box-shadow: 10px 10px 10px rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  justify-content: center;
  padding: 10px;
  background: rgb(56, 56, 56);
  z-index: 1;
}
.info a {
  text-decoration: none;
  color: rgb(202, 62, 71);
}
.info {
  color: rgb(202, 62, 71);
}
.info span {
  color: rgb(105, 119, 155);
}
.contactInfo iframe {
  width: 300px;
  height: 300px;
}
.contactForm {
  box-shadow: inset -10px 10px 10px rgb(20, 20, 20);
  background: rgb(49, 49, 49);
  border-radius: 0 10px 10px 0;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  transition: 1s;
}
.formInput p {
  margin: 0;
  padding: 0;
  color: rgb(202, 62, 71);
}
.formInput input {
  width: 100%;
  height: 30px;
  border: 3px solid rgb(105, 119, 155);
  border-radius: 5px;
  padding: 5px;
}
textarea[name="message"] {
  width: 100%;
  height: 100px;
  border: 3px solid rgb(105, 119, 155);
  border-radius: 5px;
  padding: 5px;
}
button[type="submit"] {
  box-shadow: 3px 3px 3px rgb(20, 20, 20);
  border: 1px solid rgb(105, 119, 155);
  border-radius: 5px;
  background: rgb(202, 62, 71);
  width: 5rem;
  height: 2rem;
}
.btn {
  background: rgb(202, 62, 71);
  color: rgb(49, 49, 49);
  box-shadow: 3px 3px 3px rgb(20, 20, 20);
  width: 7rem;
  display: flex;
  text-align: center;
  position: relative;
  left: 19rem;
  bottom: 17.4rem;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 5rem;
  background: rgb(56, 56, 56);
  color: rgb(202, 62, 71);
}

.mainText {
  line-height: 2rem;
  color: white;
  animation: slide 2s;
}
@keyframes slide {
  from {
    opacity: 0.2;
    line-height: 200px;
  }

  to {
    opacity: 1;
    line-height: 2rem;
  }
}

/* Responsiveness */
@media screen and (max-width: 1080px) {
  .hoverMe{
    visibility: hidden;
  }
  .skillCard {
    height: 100px;
    width: 160px;
  }
  .skillCard.card1 {
    padding: 0;
    margin: 0;
    font-size: 0.5em;
    .soft {
      font-size: 0.9rem;
    }
  }
  .skillCard.card1 p {
    margin: 0;
  }
  .navbar-toggler{
    visibility: hidden;
  }
  .navbar-toggler.scnd{
    visibility: visible;
  }
  .navbar-toggler2{
    color: rgb(202, 62, 71);
  }
}

@media screen and (max-width: 1037px){
  .card:hover {
    .face2.calculator{
      transform: translateY(-220px);
    }
  }
}

@media screen and (max-width:549px) {
  #Home{
      flex-direction: column-reverse;
      gap: 10px;
  }
}

@media screen and (min-width: 580px) and (max-width: 765px) {
  .skillCard.card3 {
    transform: translateY(-200px);
  }
  .skillCard.card2 {
    transform: translateX(350px);
  }
  .skillCard.card1 {
    transform: translateX(180px);
  }
  .skillSlide:hover {
    .skillCard.card3 {
      transform: translateY(-314px) translateX(-20px);
    }
  }
}

@media screen and (min-width: 1080px){
  .clickMe{
    visibility: hidden;
  }
  .hoverMe{
    visibility: visible;
  }
}

@media screen and (max-width: 430px){
  #Testimonials{
    padding: 0;
    margin: 0;
  }
  .testimg{
    position: relative;
    width: 120px;
  }
  .testimg img{
    object-fit: cover;
  }
  .Matthew{
    font-size: .8em;
  }
  .MatthewTest{
    overflow: auto;
  }
  .testContent{
    width: 150px;
    font-size: .68em;
    visibility: hidden;
  }
  .testcard{
    overflow: hidden;
  }
  .testcard:hover{
    .testContent{
      visibility: visible;
    }
  }
}

@media screen and (min-width: 392px) and (max-width: 580px) {
  .skillCard.card3 {
    transform: translateY(-200px) translateX(150px);
  }
  .skillCard.card2 {
    transform: translateY(-200px);
  }
  .skillCard.card1 {
    transform: translateX(180px);
  }
  .skillSlide:hover {
    .skillCard.card3 {
      transform: translateY(-314px) translateX(-20px);
    }
    .skillCard.card2 {
      transform: translateY(-314px) translateX(-20px);
    }
  }
}

@media screen and (max-width: 393px){
  .skillCard {
    width: 130px;
  }
  .skillCard.card3 {
    transform: translateY(-350px);
  }
  .skillCard.card2 {
    transform: translateY(-250px);
  }
  .skillCard.card1 {
    transform: translateY(-200px);
  }
  .skillSlide:hover {
    .skillCard.card3 {
      transform: translateY(-520px);
    }
    .skillCard.card2 {
      transform: translateY(-412px) translateX(0px);
    }
    .skillCard.card1 {
      transform: translateY(-310px);
    }
  }
}

@media screen and (min-width: 353px) and (max-width: 392px){
  .skillCard.card1{
    transform: translateY(0px);
  }
  .skillSlide:hover{
    .skillCard.card1{
      transform: translateY(-103px) translateX(188px);
    }
    .skillCard.card3 {
      transform: translateY(-412px);
    }
  }
}

@media screen and (max-width: 634px) {
  .workCard {
    height: 100px;
  }
  .workSlide {
    display: grid;
  }
  .workSlide:hover {
    .workCard {
      transform: translateY(0);
      visibility: visible;
      z-index: 2;
    }
  }
  .workCard.card1 {
    position: relative;
    transform: translateY(-120px);
  }
  .workCard.card2 {
    transform: translateY(-220px);
  }
  .workCard.card3 {
    transform: translateY(-330px);
  }
  .workCard.card4 {
    transform: translateY(-450px);
  }
}

@media screen and (max-width: 385px) {
  img[alt="secondaryprofile"] {
    width: 290px;
  }
  .Aboutme p {
    font-size: 0.9em;
  }
  .interests {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 455px) {
  .contactInfo iframe {
    width: 100%;
  }
  .contactInfo {
    width: 100%;
  }
  .btn {
    left: 0;
    bottom: 0;
    justify-content: center;
  }
}
