/* general styling */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar{
        display: none;
    }
}
body{
    width: 100vw;
}

section{
    height: 100vh;
    width: 100vw;
    background: rgb(49, 49, 49);
}

/* navbar */
.navbar{
    width: 100%;
    position: absolute;
    height: 4rem;
    background: rgb(202, 62, 71);
}
.displayedNav{
    top: 30vh;
}
#offcanvasNavbar{
    background: transparent;
    height: 80vh;
    width: 12rem;
    align-items: center;
}
.offcanvas-body{
    position: absolute;
    top: 30vh;
    height: 80%;
    width: 100%;
}
.navbar-nav{
    width: 100%;
    position: relative;
    gap: 20px;
}
:is(.nav-item, .nav-item2) {
    border-radius: 0 30px 30px 0;
    /* background: rgb(105, 119, 155); */
    background: rgb(202, 62, 71);
    height: 2rem;
}
:is(.nav-item, .nav-item2) a{
    font-size: .8em;
    color: white;
}
.nav-item{
    width: 80%;
    padding-left: 5px;
}
.nav-item2{
    width: 2rem;
    padding-left: 5px;
}
.offcanvas-backdrop{
    display: none;
}
:is(.navbar-toggler, .navbar-toggler.scnd){
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: rgb(202, 62, 71);
}
.navbar-toggler.scnd{
    position: absolute;
    top: .16em;
    left: .25em;
    color: transparent;
}
.socialIcons{
    color: rgb(202, 62, 71);
    font-size: 2em;
    margin: 1rem;
}
.iconHover{
    visibility: hidden;
}
.nav-item2:hover{
    width: 11rem;
    .iconHover{
        visibility: visible ;
    }
}
.nav-link{
    height: 1em;
}
.Name{
    /* position: absolute; */
    font-size: 2rem;
    left: 0;
}

/* Home Page */
#Home{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainText{
    position: absolute;
    left: 12em;
    /* border: 10px solid blue; */
    color: white;
}
.mainText span{
    color: rgb(202, 62, 71);
}
.profilephoto{ 
    box-shadow: 5px 5px 5px 2px rgb(20, 20, 20);
    border: 3px solid rgb(49, 49, 49);
    object-fit: cover;
    position: absolute;
    right: 2rem;
    bottom: 5rem;
    width: 400px;
}
img[alt="Profileimg"]{
    width: 100%;
    height: 100%;
    background: rgb(49, 49, 49);
}
img[alt="Background"]{
    width: 100%;
    height: 100%;
}